<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="{{ page.root_path }}images/favicon_128.png">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ page.root_path }}css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ page.root_path }}css/main.css">

        <!-- Atom feed -->
  		<link rel="alternate" type="application/atom+xml" title="Hoodie Weekly Updates" href="/atom.xml">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="{{ page.root_path }}">{{ site.name }}</a></h1>
            </div>

            {{ content }}

            <div class="footer">
              <div class="meta">
                <p>
                  <input type="button" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Follow us"> &nbsp; 
                  ✎  <a href="{{site.github_url}}/edit/gh-pages/{{ page.path }}">edit this page</a> | 
                </p>
              </div>

              <p>
                &lt;3
                <a href="http://hood.ie/">hood.ie</a><br />
              </p>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
